<h1>Step 1: Choose your Model and color</h1>
Model:
<select [(ngModel)]="selectedModel" (change)="onModelChange()">
  <option [value]="emptyModel.code">{{ emptyModel.description }}</option>
  @for (model of models; track model.code) {
    <option [value]="model.code">{{ model.description }}</option>
  }
</select>

Color:
<select [(ngModel)]="selectedColor" [disabled]="!selectedModel" (change)="onColorChange()">
  @for (color of getColors(); track color) {
    <option [value]="color">{{ color }}</option>
  }
</select>

@if (getImageUrl()) {
    <p>Image:</p>
    <img [src]="getImageUrl()" />
}